*.hi
*.o
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
\#*\#
*.swp
*.tmp

##### vim
*.orig

##### python
*.pyc
*.pyo

##### java
*.class

##### osx
.DS_Store

##### GAE
.gaedata

##### SCM subversion
*.svn
*.svn-base

##### SCM git
*.git

##### SCM mercurial
*.hg

##### IDE jetbrains
.idea
*.iml

##### TAG
tags
TAGS

##### setup.py
build
dist
tastypie_queryset_client.egg-info

##### scala
lib/vetags/lang/scala/sources

#### clojure
lib/vetags/lang/clojure/helloworld

#### sample
mysamples

#### test
.tox
.coverage
junit-py*
api
pytests

#########

examples/django_spine/set.sh
examples/django_spine/unset.sh
